*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header-one{
    width: 100%;
    height: 40px;
    background-color: #131117ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-text{
    color:white;
    flex-grow: 4;
    margin-left: 100px;
}
.header-social{
    color:white;
    flex-grow: 1;
}
.header-social i{
    margin-left: 20px;
    cursor: pointer;
}
.header-two{
    width: 100%;
    height: 160px;
    background-color: #d8afa3ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    flex-grow: 1;
}
.logo img{
    width: 300px;
    margin-left: 50px;
}
nav{
    flex-grow: 1;
}
nav > ul{
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    list-style-position: inside;
    position: relative;
}
nav > ul li a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
nav > ul li a:hover{
    border-bottom: 2px solid black;
}
nav >ul li:nth-of-type(1){
    border-bottom: 2px solid black;
}
nav ul.sub-menu{
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    display: none;
    position: absolute;
}
nav ul.sub-menu li{
    margin:10px 0;
}
nav ul.sub-menu li a{
    text-decoration: none;
}
.social{
    flex-grow: 1;
}
.social > i{
    font-size:23px;
    margin-left:40px;
    cursor: pointer;
}
.section-one{
    width: 100%;
    display: flex;
    background-color: #d9dadcff;
    height: 440px;
}
.section-text{
    flex-grow: 1;
    max-width: 50%;
}
.section-text h1{
    margin:140px 0 30px 25%;
    font-size:45px;
}
.section-text p{
    font-size:25px;
    margin:0 0 60px 25%;
}
button{
    display:block;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin: 0 0 0 25%;
    background-color: #81283eff;
    color:white;
    border:none; 
}
button:hover{
    background-color: rgb(107, 25, 45);
}
.section-image{
    flex-grow: 1;
    text-align: center;
}
.section-image img{
   width: 450px;
   position: relative;
   left:0;
   top:23px;

}
footer{
    width: 100%;
    height: 150px;
    background-color: #131117ff;
    display: flex;
    column-gap:200px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.boxs{
    text-align: center;
}
.boxs i{
    font-size:30px;
    color:white;
    cursor: pointer;
}
.boxs p{
    margin-top:10px;
    font-weight: bold;
    color:white;
}
.whatsapp{
    width: 100%;
    position: fixed;
    margin:60px 0;
    text-align: right;
}
.whatsapp i{
    width: 100%;
    font-size:40px;
    color:green;
    margin-right: 100px;
    cursor: pointer;
}